<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="container">
  <header class="page-header">
    <h2> Salutations Visiteurs! Cette application est un exercice du cours d'OpenClassroom sur Angular. </h2>

    <p> Je vous souhaite une bonne correction et m'excuse d'avance pour le design absolument criard et oculairement douloureux. Bonne journée, soirée, weekend ou vacances à vous :) </p>

  </header>
  <div class="row">
    <div class="col-12">
      <app-post-list [posts] = posts></app-post-list>
    </div>
  </div>
</div>

