<li class="list-group-item" [ngClass]="{'list-group-item':true,
'list-group-item-success' : loveIts > 0,
 'list-group-item-danger': loveIts < 0 }" >
  <span><h3>{{title}} </h3> <p class="text-right">Publié le {{created_at | date :"d/MM/yyyy"}}</p></span>
  <span> {{content}}</span>

  <!-- Compteur pour vous indiquer à combien de "j'aime" on est.-->
  <p *ngIf="loveIts > 0 "> {{loveIts}} personnes aiment ce que je viens de dire.</p>
  <p *ngIf="loveIts == 0 "> Personne n'aime ce post pour le moment. </p>
  <p *ngIf="loveIts < 0 "> Vraiment personne n'aime ce post ... </p>
  <button class="btn btn-success"(click)="increaseLoveIts()">J'aime!</button>
  <button class="btn btn-danger" (click)="decreaseLoveIts()">Je n'aime pas!</button>

</li>
